$container-header-width: 1660px;
$container-content-width: 1300px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
);

/**
* responsive
**/

@mixin make-container-max-width($max-width: $container-content-width) {
  max-width: $max-width + $grid-gutter-width;
  @include make-container();
}

//rsponsive ratio
@mixin responsive-ratio($x, $y, $pseudo: false) {
  $padding: unquote(($y / $x) * 100 + '%');
  @if $pseudo {
    &:before {
      @include pseudo($pos: relative);
      width: 100%;
      padding-top: $padding;
    }
  } @else {
    padding-top: $padding;
  }
}
